<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Professionals</title>
  <link rel="stylesheet" href="./Sass/style.css" />
  <link rel="stylesheet" href="./Sass/header.css">
  <link rel="stylesheet" href="./Sass/introduction.css">
</head>

<body>
<header>

  <nav class="nav__container">
    <ul class="nav__list">
      <li class="nav__logo pull__right">
        <img src="assets/home/pintor.png" class="nav__img" alt="logo">
      </li>
      <li>
        <a href="#" class="nav__link">Home</a>
      </li>
      <li>
        <a href="#" class="nav__link">Reviews</a>
      </li>
      <li>
        <a href="#" class="nav__link">Portfolio</a>
      </li>
      <li>
        <button href="#" class="nav__link nav__link-button">Free Estimate</button>
      </li>
    </ul>
  </nav>
</header>

<main>

  <section class="introduction__container">
    <p class="intro__slogan">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint iusto, facilis ea
      nostrum aliquam autem iste enim error illum cum hic nesciunt praesentium. </p>
    <h1 class="intro__title">Painter</h1>
    <div class="buttons__container"><button  class="intro__works" >View works</button>
      <button class="intro__get-estimate">Get Free Estimate</button>
    </div>
    <div class="main__container"><img class="cerca_bg" src="assets/home/Cerca_paint.jpg" alt="cerca">
      <div class="cont-social__media">
        <img class="social__media" src="assets/home/fb-icon.svg" alt="">
        <img class="social__media" src="assets/home/twitter-icon.svg" alt="">
      </div>
    </div>

  </section>

  <section class="new-model__container">
    <div class="card_new_model">
      <div class="bg_image_painter">
        <img class="painter" src="assets/home/cerca.jpg" alt="Background" />
      </div>
      <h1 class="new_model_title">
        Review our jobs
      </h1>
      <div class="container">
        <div class="background__painter">
          <img src="assets/home/lastjob.jpg" alt="Last Remodelation" width="75%" class="lastjob_img" />
        </div>
        <div class="info">
          <h1 class="title">Last Job</h1>
          <span class="Rating">Rate:</span>
          <img class="Rating__star" src="assets/home/rating.svg" alt="" />
          <img class="Rating__star" src="assets/home/rating.svg" alt="" />
          <img class="Rating__star" src="assets/home/rating.svg" alt="" />
          <img class="Rating__star" src="assets/home/rating.svg" alt="" />
          <img class="Rating__star" src="assets/home/rating.svg" alt="" />
          <h1 class="title">Get your estimate</h1>
          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br />
            Aliquet donec purus egestas mattis non orci. Tellus id viverra id
            egestas. Quis enim, mauris velit feugiat vestibulum adipiscing
            elementum gravida. Egestas felis pellentesque vitae sed.
          </p>
          <button class="confirm_estimate">Get Free Estimate</button>
        </div>
      </div>
    </div>

  </section>

</main>
</body>
